@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="container">
        <section class="d-flex gap-3 col-12">
            <div class="left-side col-6">
                <h1 class="text-white">Launch Your SaaS Website in Minutes!</h1>
                <p class="text-white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <button type="button" class="btn btn1">Get Started</button>
            </div>
            <div class="right-side col-6">
                <img src="~/assets/imgs/section-imgs/hero-img.png" alt="">
            </div>
        </section>
    </div>

    <section class="my-xxl-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card1 h-100 text-center">
                        <i class="bi bi-bootstrap-fill"></i>
                        <div class="card-body">
                            <h5 class="card-title">Bootstrap 5</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card1 h-100 text-center">
                        <i class="bi bi-columns"></i>
                        <div class="card-body">
                            <h5 class="card-title">Clean Design</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card1 h-100 text-center">
                        <i class="bi bi-cup"></i>
                        <div class="card-body">
                            <h5 class="card-title">Easy to Use</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="d-flex align-items-center gap-5 my-xxl-5 col-12">
            <div class="bg-img col-6">
                <img src="~/assets/imgs/section-imgs/about-1.png" alt="">
            </div>
            <div class="rigth col-6">
                <h2>Perfect Solution Thriving Online Business</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.Lorem ipsum dolor sit amet.</p>
                <button type="button" class="btn btn2">Discover More</button>
            </div>
        </section>
    </div>

    <div class="container">
        <section class="d-flex align-items-center gap-5 my-xxl-5 col-12">
            <div class="left2 col-6">
                <h2>Easy to Use with Tons of Awesome Features</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <ul>
                    <li>Quick Access</li>
                    <li>Easily to Manage</li>
                    <li>24/7 Support</li>
                </ul>
                <button type="button" class="btn btn2">Learn More</button>
            </div>
            <div class="bg-img col-6">
                <img src="~/assets/imgs/section-imgs/about-1.png" alt="">
            </div>
        </section>
    </div>


    <section class="sec-4">
        <div class="container">
            <div class="header text-center">
                <h2>Why Choose SaaSpal</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore</p>
            </div>
            <div class="content">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card1 h-100">
                            <i class="bi bi-display"></i>
                            <div class="card-body">
                                <h5 class="card-title">SaaS Focused</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card1 h-100">
                            <i class="bi bi-columns"></i>
                            <div class="card-body">
                                <h5 class="card-title">Awesome Design</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card1 h-100">
                            <i class="bi bi-grid"></i>
                            <div class="card-body">
                                <h5 class="card-title">Ready to Use</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card1 h-100">
                            <i class="bi bi-code-slash"></i>
                            <div class="card-body">
                                <h5 class="card-title">Vanilla JS</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card1 h-100">
                            <i class="bi bi-collection"></i>
                            <div class="card-body">
                                <h5 class="card-title">Essential Sections</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card1 h-100">
                            <i class="bi bi-cup"></i>
                            <div class="card-body">
                                <h5 class="card-title">Highly Optimized</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slider">
        <div class="container">
            <h2 class="text-center">What our customers says</h2>
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active d-flex gap-5">
                            <div class="imgs col-md-6">
                                <img src="~/assets/imgs/slider-imgs/customer-2.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="text col-md-6">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.</p>
                                <h4>Name</h4>
                                <p>Comment</p>
                            </div>
                        </div>
                    @foreach (Slider item in Model.Sliders)
                        {
                        <div class="carousel-item d-flex gap-5">
                            <div class="imgs col-md-6">
                                <img src="~/assets/imgs/slider-imgs/@item.Image" class="d-block w-100" alt="...">
                            </div>
                            <div class="text col-md-6">
                                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed dinonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem.</p>
                                <h4>@item.Name</h4>
                                <p>@item.Comment</p>
                            </div>
                        </div>
                        }                   
                </div>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <i class="bi bi-chevron-right"></i>
                </button>
            </div>
        </div>
    </section>
</main>

